---
import Challenge from '@/layouts/Challenge.astro';
---
<Challenge>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima maiores vitae impedit explicabo et qui modi aliquam asperiores mollitia natus neque, cupiditate illum animi sequi labore quod quae, voluptatibus exercitationem.</p>
</Challenge>