---
import Layout from '@/layouts/Layout.astro';
---
<Layout>
	<p>These are my takes on some of the FrontEnd Mentor challenges.</p>
	<ul>
		<li><a target="_blank" href="/challenge/browser-extension-manager/">Browser Extension Manager UI</a></li>
	</ul>
</Layout>
