---
const { heading, classes } = Astro.props;
---
<section class:list={['section', classes]}>

    {heading && (
        <header>
            <h2>{heading}</h2>
        </header>
    )}

    <slot />

</section>
<style>

    .section {

    }

</style>