---
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{ title }</title>
	</head>
	<body>
		
        <slot />

        <details class="attribution">
            <summary>Attribution</summary>
            <p>Challenge by <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a></p>
            <p>Coded by <a href="#">Konstantin Dankov</a></p>
        </details>

	</body>
</html>
<style>
    .attribution {
        display: none;
    }
</style>